.App {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

.circle {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 10px; /* Ajusta el tamaño del círculo aquí */
  height: 10px; /* Ajusta el tamaño del círculo aquí */
  line-height: 60px; /* Ajusta el tamaño del círculo aquí */
  background-color: white; /* Cambia el color del círculo aquí */
  color: black; /* Cambia el color del texto aquí */
}
